<!DOCTYPE html>
<html lang="en">

<head>
    <title>403 Forbidden</title>
</head>

<body>
    <h1>403 Forbidden</h1>
    <p>You do not have permissions to access this resource!</p>

    <a href="/">Back to Home</a>
    <a href="/login">Login</a>

    <br>
    <h2>Troubleshooting</h2>
    <ol>
        <li>Check whether you are logged in. <br>Due to <s>horrible programming</s> intentional features, you must be logged in for a 404 to show</li>
        <li>Check whether this is indeed the resource you are looking for</li>
    </ol>

    <br>
    <br>
    <p><i>{{ message }}</i></p>
</body>

</html>