<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>MIDI Controller Web View</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.js') }}"></script>
</head>
<body>
    <h1>MIDI Controller Web Port</h1>

    <div class="container">
        <div id="performance" hidden="hidden">
            <h2 id="patch_name"></h2>
            <ul id="patch_list">

            </ul>

            <br><br>

            <button id="previous_patch">Previous Patch</button>
            <button id="next_patch">Next Patch</button>
            <br>
            <button id="previous_patch_file">Previous Patch File</button>
            <button id="next_patch_file">Next Patch File</button>
        </div>
        <div id="no_performance">
            <h2>Performance Mode not started!</h2>
            <h3>Debugging</h3>
            <ol>
                <li>Check whether the TEXTUAL port of MIDI CONTROLLER is open</li>
                <li>Check whether the program is currently performing</li>
                <li>Jump to <em>any</em> other patch</li>
            </ol>
        </div>
    </div>


    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>